p.ignored {
  opacity: 0.25;
}
p.starred {
  background-color: #fff5d0;
}
p.current {
  outline: 1px dashed gray;
  outline-offset: 7px;
  opacity: 1.0;
}
p.current.ignored {
  opacity: 0.5;
}
span.tags {
  color: green;
  font-size: smaller;
  padding-left: 5px;
}
div.images, div.maps {
  text-align: center;
  background-color: #eee;
  padding: 10px;
}
div.images img {
  vertical-align: middle;
}
